<div id="join" *ngIf="getGame() === null">
  <button *ngIf="loading===false" (click)="addPlayerToQueue()" class="btn btn-success">I want to play!</button>
  <div *ngIf="loading">
    <img class="loading" src="https://zippy.gfycat.com/SkinnySeveralAsianlion.gif" height="100" width="100">
    <h4 class="loading">Success, please wait for another player!</h4>
  </div>
</div>

<div id="game" *ngIf="getGame()">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-auto">Your enemy's cards</div>
    </div>
    <div class="row justify-content-center" id="enemyPlayer">
      <div class="col-md-auto" *ngFor="let number of [0,1]">
        <img src="https://i.pinimg.com/736x/90/04/5e/90045ee90ffda21b689af6a2847e6b0d--cool-playing-cards-trump-card.jpg" width="88" height="128">
      </div>
    </div>
    <div class="row" id="boardCards">
      <div class="col">Cards on board</div>
      <div class="col" *ngFor="let card of getGame().board.cards">
        <img class="card" src="https://raw.githubusercontent.com/hayeah/playing-cards-assets/master/png/{{card.rank | lowercase}}_of_{{card.suit | lowercase}}s.png" width="88" height="128">
      </div>
      <div class="col" *ngFor="let number of getPlaceHolderArray()">
        <img class="emptyCard" src="http://www.designsolid.com/cdn/5/1994/123/blank-playing-card-template_95765.png" width="88" height="128">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-auto">Your cards</div>
    </div>
    <div class="row justify-content-center" id="userCards">
      <div class="col-md-auto" *ngFor="let card of getGame().playerOne.hand === null ? getGame().playerTwo.hand : getGame().playerOne.hand">
        <img class="card" src="https://raw.githubusercontent.com/hayeah/playing-cards-assets/master/png/{{card.rank | lowercase}}_of_{{card.suit | lowercase}}s.png" width="88" height="128">
      </div>
    </div>
  </div>
</div>
